[submodule "referto/k8s-definitive-guide-v4"]
	path = referto/k8s-definitive-guide-v4
	url = https://github.com/kubeguide/K8sDefinitiveGuide-V4-Sourcecode.git
[submodule "referto/nginx-kubernetes"]
	path = referto/nginx-kubernetes
	url = https://github.com/nginxinc/kubernetes-ingress.git
[submodule "referto/follow-me-install-kubernetes-cluster"]
	path = referto/follow-me-install-kubernetes-cluster
	url = https://github.com/opsnull/follow-me-install-kubernetes-cluster.git
[submodule "referto/ansible-kubeasz"]
	path = referto/ansible-kubeasz
	url = https://github.com/easzlab/kubeasz.git
[submodule "referto/kubeflow-machine-learning"]
	path = referto/kubeflow-machine-learning
	url = https://github.com/kubeflow/kubeflow.git
[submodule "referto/kubernetes-starter"]
	path = referto/kubernetes-starter
	url = https://github.com/liuyi01/kubernetes-starter.git
[submodule "referto/kubernetes-the-hard-way"]
	path = referto/kubernetes-the-hard-way
	url = https://github.com/kelseyhightower/kubernetes-the-hard-way.git
[submodule "referto/examples"]
	path = referto/examples
	url = https://github.com/kubernetes/examples.git
[submodule "referto/kubernetes-engine-samples"]
	path = referto/kubernetes-engine-samples
	url = https://github.com/GoogleCloudPlatform/kubernetes-engine-samples.git
[submodule "referto/dashboard"]
	path = referto/dashboard
	url = https://github.com/kubernetes/dashboard.git
[submodule "referto/chart-testing"]
	path = referto/chart-testing
	url = https://github.com/helm/chart-testing.git
